<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
</head>
<body>
    <h3>Edit your Listing</h3>
    <form method="post" method="/listings/<%=listing._id %>?_method=put">
        <input name="listing[description]" value="<%= listing.description %>" type="text"><br><br>
        <input name="listing[title]" value="<%=listing.title %>" type="text"> <br><br>
        <input name="listing[image]" value="<%= listing.image %>" type="text"> <br><br>
        <input name="listing[price]" value="<%=listing.price %> " type="number" > <br><br>
        <input name="listing[country]" value="<%= listing.country %>" type="text" ><br><br>
        <input name="listing[location]" value="<%= listing.location %>" type="text"><br>
        <button> Edit </button>

    </form>
</body>
</html>